@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Pacifico');

html,
body,
.root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: rgb(0, 121, 191);
  color: white;
  font-family: 'Amatic SC', cursive;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: rgb(2, 106, 167);
  font-family: 'Pacifico', cursive;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: rgb(112, 176, 219);
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelves {
  display: flex;
}

.bookshelf {
  background-color: rgb(226, 228, 230);
  color: #333;
  margin: 15px;
  padding: 10px;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
}

.bookshelf-title {
  font-family: 'Pacifico', cursive;
  margin: 0;
}

.bookshelf-books {
  text-align: center;
}

.bookshelf-empty {
  font-size: 1.2em;
  padding: 10px;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00c2e0;
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  background-color: rgb(2, 106, 167);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  align-items: center;
}

.search-books-input-wrapper {
  flex: 1;
  border-radius: 5px;
}

.search-books-bar input {
  background-color: rgb(112, 176, 219);
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 1.25em;
  margin: 10px;
  outline: none;
  padding: 10px;
  width: 98%;
}

.search-books-bar input::placeholder {
  color: rgb(2, 106, 167);
}

.search-books-bar input:focus {
  background-color: white;
  color: black;
}

.search-books-bar input:focus::placeholder {
  color: black;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* spinner */
.spinner-container {
  align-items: center;
  display: flex;
  height: 600px;
  justify-content: center;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 10px;
  text-align: left;
}

.book {
  background-color: white;
  border-radius: 5px;
  height: 270px;
  padding: 10px;
  position: relative;
  width: 150px;
}

.book:hover {
  background-color: #00c2e0;
  cursor: pointer;
}

.book-details-container {
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow: auto;
  width: 130px;
}

.book-details-hidden {
  display: none;
}

.book-title {
  font-size: 1.2m;
  margin-top: 10px;
}

.book-authors {
  color: #999;
  font-size: 0.9em;
}

.book-top {
  align-self: center;
  height: 200px;
}

.book-shelf-changer {
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(2, 106, 167);
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  background: #eee;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}
